## Libraries

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [16]:
tf.__version__

'2.9.1'

## `1) Data Preprocessing`

### Importing Dataset

In [17]:
dataset = pd.read_csv("Churn_Modelling.csv")

In [18]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

### Removing Unnecessary Columns

In [20]:
dataset.drop(["RowNumber", "CustomerId", "Surname"], axis=1, inplace=True)

### Encoding Categorical Data
Using get_dummies() function

In [21]:
gender = pd.get_dummies(dataset["Gender"], drop_first=True)
geography = pd.get_dummies(dataset["Geography"], drop_first=True)

dataset.drop(["Gender", "Geography"], axis=1, inplace=True)

dataset = pd.concat([dataset, gender, geography], axis=1)

### Splitting Dataset into X and y

In [22]:
X = dataset.drop("Exited", axis=1)
y = dataset["Exited"]

In [25]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1

In [26]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

### Splitting Dataset into Training and Test Set

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2,
                                                    random_state=0)

### Feature Scaling
Important Note: Feature Scaling is a **must** for Deep Learning.  
It is not mandatory for ANN, but it is a **good practice** to do it.  
It will help us to **converge faster** to the optimal weights.

In [28]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## `2) Building ANN`

### Initializing ANN

In [29]:
ann = tf.keras.models.Sequential() # Sequential is used to initialize the ANN

### Adding Input Layer and First Hidden Layer  
Dense is used to add the input layer and the first hidden layer

In [30]:
ann.add(tf.keras.layers.Dense(units=6,
                              activation="relu")) # relu: rectified linear activation unit

### Adding Second Hidden Layer

In [31]:
ann.add(tf.keras.layers.Dense(units=6,
                              activation="relu"))

### Adding Output Layer  
**Single Neuron** and **sigmoid** activation function in the output layer  
because we have a **binary outcome**.

In [32]:
ann.add(tf.keras.layers.Dense(units=1,
                              activation="sigmoid")) # 0 or 1 (Exited or not)

## `3) Training ANN`

### Compiling ANN

In [33]:
ann.compile(optimizer="adam", # adam is a stochastic gradient descent algorithm
            loss="binary_crossentropy", # binary_crossentropy is used for binary classification
            metrics=["accuracy"]) # accuracy is used to evaluate the model

### Training ANN on Training Set

In [34]:
ann.fit(X_train, y_train,
        batch_size=32, # batch_size: no. of observations weights are updated
        epochs=100) # epochs: no. of times the whole training set is passed through the ANN

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7960
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4659 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4446 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4361 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4324 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4301 - accuracy: 0.7960
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4280 - accuracy: 0.7962
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4262 - accuracy: 0.7972
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4242 - accuracy: 0.8135
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4213 - accuracy: 0.8202
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4185 - accuracy: 0.8204
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4155 - accuracy: 0.8215
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4126 - accuracy: 0.8256
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4101 - accuracy: 0.8269
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4081 - accuracy: 0.8284
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4063 - accuracy: 0.8299
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4052 - accuracy: 0.8285
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4034 - accuracy: 0.8316
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4027 - accuracy: 0.8314
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4008 - accuracy: 0.8307
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3986 - accuracy: 0.8303
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3967 - accuracy: 0.8340
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3941 - accuracy: 0.8350
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3913 - accuracy: 0.8372
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3884 - accuracy: 0.8396
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3856 - accuracy: 0.8404
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3828 - accuracy: 0.8425
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3797 - accuracy: 0.8429
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3771 - accuracy: 0.8440
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3743 - accuracy: 0.8466
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3720 - accuracy: 0.8475
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3699 - accuracy: 0.8481
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3682 - accuracy: 0.8503
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3664 - accuracy: 0.8501
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3650 - accuracy: 0.8516
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3632 - accuracy: 0.8539
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3620 - accuracy: 0.8537
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3606 - accuracy: 0.8536
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3592 - accuracy: 0.8572
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3575 - accuracy: 0.8561
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3541 - accuracy: 0.8565
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3500 - accuracy: 0.8581
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8606
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8606
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3438 - accuracy: 0.8616
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8616
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8610
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8620
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8596
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8609
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8622
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8614
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8620
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8636
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8627
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8639
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8611
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8622
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8637
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8634
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8627
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8637
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8635
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8636
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8635
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8646
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8643
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8625
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8625
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8635
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8635
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8641
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8656
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8636
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8641
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8633
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8639
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8633
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8626
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8636
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8633
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8635
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8644
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8644
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8640
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8654
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8648
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8633
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8644
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8641
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8651
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8652
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8651
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8643
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8651
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8641
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8646
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3307 - accuracy: 0.8635
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8645
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8648

## `4) Predictions and Evaluation`

### Predicting for Test Set
predict() returns the probability of the person leaving the bank

In [36]:
predictions = ann.predict(X_test)
predictions = (predictions > 0.5)

63/63 [==============================] - 0s 2ms/step

### Evaluating the Model

In [37]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))
print(accuracy_score(y_test, predictions))

[[1517   78]
 [ 197  208]]
              precision    recall  f1-score   support

           0       0.89      0.95      0.92      1595
           1       0.73      0.51      0.60       405

    accuracy                           0.86      2000
   macro avg       0.81      0.73      0.76      2000
weighted avg       0.85      0.86      0.85      2000

0.8625